/* tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* selection  */
::selection {
    color: white;
    background: #4a56d9;
}
::-moz-selection {
    color: white;
    background: #4a56d9;
}

/* hover animation  */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #4a56d9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    top: 25px;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
